DATABASE_URL="postgresql://neondb_owner:npg_8ZYUqpBT0Qlg@ep-late-sky-azdmsbyx-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

DIRECT_URL="postgresql://neondb_owner:npg_8ZYUqpBT0Qlg@ep-late-sky-azdmsbyx-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXT_PUBLIC_CURRENCY_SYMBOL="$"